@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  margin: auto;
}

.loader {
  display: inline-block;
  border: 4px solid var(--primary);
  border-left-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1s linear infinite;
}
