.main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: #4e4e4e;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 4vh;
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 80px;
  background: white;
  padding: 20px;
  padding-right: 80px;
}

.position {
    font-weight: 600;
    color: #5e5e5e;
    font-size: 20px;
    margin-left: 60px;
  }

.end-button {
  width: 200px;
}
