.main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: #4e4e4e;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 4vh;
  }
}

.roastImage {
  height: 40vh;
  object-fit: cover;
  border-radius: 14px;
}

.roastForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4vh;
  input {
    border: 3px solid #d9d9d9;
    font-size: 18px;
    color: #797979;
    padding: 14px 20px 14px 32px;
    transform: translateY(4px);
    width: 32vw;
    margin-right: 16px;
    font-weight: 500;
    border-radius: 14px;
    height: 30px;
    &:focus {
      outline: none;
    }
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: white;
  padding: 20px;
  padding-right: 20px;
  height: 80px;
}

.roastImg {
  p {
    font-size: 16px;
    font-weight: 600;
    color: #7d7d7d;
    margin: 0;
  }
}

.timer {
  font-weight: 700;
  color: #434343;
  font-size: 24px;
  margin-right: 40px;
}

.hurry {
  font-weight: 600;
  color: #5e5e5e;
  font-size: 20px;
  margin-left: 3vw;
}

.done {
  color: var(--primary);
  font-weight: 800;
  font-size: 32px;
  margin-top: 4vh;
}

.mainCountdown {
  font-weight: 700;
  font-size: 90px;
  color: var(--primary);
}
