.main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: #4e4e4e;
    font-weight: 800;
    font-size: 36px;
  }
  .description {
    color: #4e4e4e;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4vh;
  }
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  img {
    border-radius: 14px;
    height: 40vh;
  }
  span {
    font-size: 16px;
    font-weight: 600;
    color: #7d7d7d;
    margin: 0;
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 80px;
  background: white;
  padding: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 100%;
  margin-top: 2vh;
  padding-bottom: 80px;
}

.candidates {
  margin-left: 10vw;
  //   background: #f0f;
  padding-bottom: 80px;
  display: flex;
  // justify-content: flex-start;
  width: 60vw;
  flex-wrap: wrap;
  // align-items: flex-start;
  height: min-content;
}

.candidate {
  padding: 28px 32px;
  min-width: 16vw;
  height: min-content;
  box-shadow: 0px 8px 0px #dbdbdb;
  background: white;
  color: #686868;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 24px;
  margin-bottom: 24px;
  transition: all 0.2s ease-in-out;
  &:active {
    box-shadow: none;
  }
}

.hurry {
  font-weight: 600;
  color: #5e5e5e;
  font-size: 20px;
  margin-left: 3vw;
}

.timer {
  font-weight: 700;
  color: #434343;
  font-size: 24px;
  margin-right: 40px;
}

.notEnough {
  font-weight: 600;
  color: #5e5e5e;
  font-size: 24px;
  margin-top: 8vh;
  margin-left: 3vw;
}