:root {
  --primary: #e93131;
  --neon-green: #30ee43;
  --apple-red: #ff2f2f;

  --primary-dark: #cc2a2a;
  --primary-light: #f13333;

  --grey-0: #fefefe;
  --grey-200: #999999;
  --grey-400: #777777;
  --grey-600: #555555;
  --grey-800: #333333;
  --grey-1000: #212121;
}
