.harrystyles {
    border: 3px solid #e4e7eb;
    display: flex;
    width: 85%;
    border-radius: 6px;

    &__div {
        background-color: #F1F1F1;
        width: 30%;
        border-left: 3px solid #e4e7eb;
        display: flex;
        justify-content: center;
        align-items: center;
       
        &__h2 {
            font-size: 20px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }
    }
}

.input {
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 70%;
    border: none;
    padding: 20px;
    outline: none;
    font-size: 18px;
    color: var(--grey-800);
    font-weight: 600;
}